@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model byudigs.Models.Burial
    <link href="~/css/Form.css" rel="stylesheet" />
    <link href=“//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css” rel=“stylesheet” id=“bootstrap-css”>
    <script src=“//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js”></script>
    <script src=“//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js”></script>
    <link href=“https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css” rel=“stylesheet”>
    <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”>
    <link rel=“stylesheet” href=“assets/css/style.css”>
    <!--Create a form that will pull new movie information-->
    <style>
        #rectangle {
            width: 1200px;
            height: auto;
            background: rgba(255,255,255,.70);
            position: relative;
            margin-left: 170px;
        }
    </style>
    <br />
    <br />
    <br />
    <div id="rectangle">
        <section class="get-in-touch">
            <div class="registration-form">
                <h1 class="title">Enter new Burial</h1>
                <form method="post" asp-action="AddBurialSimple" class="contact-form row">
                    <div class="form-field col-lg-6">
                        <select id="PlotInfo" name="PlotInfo">
                            <option value="">Select One</option>
                            @foreach (var plot in ViewBag.Plots)
                            {
                                @if (plot.PlotId != 1)
                                {
                                    @if (plot.PlotId == ViewBag.SelectedPlot)
                                    {
                                        <option value="@plot.PlotId" selected>@plot.BurialLocationNs @plot.LowPairNs/@plot.HighPairNs @plot.BurialLocationEw @plot.LowPairEw/@plot.HighPairEw</option>
                                    }
                                    else
                                    {
                                        <option value="@plot.PlotId">@plot.BurialLocationNs @plot.LowPairNs/@plot.HighPairNs @plot.BurialLocationEw @plot.LowPairEw/@plot.HighPairEw</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-field col-lg-6">
                        <select id="SublocationInfo" name="SublocationInfo">
                            <option value="">Select One</option>
                            @foreach (var sublocation in ViewBag.Sublocation)
                            {
                                @if (sublocation.Area == null)
                                {
                                    @if (sublocation.SublocationId != 1)
                                    {
                                        <option value="@sublocation.SublocationId">@sublocation.Direction</option>
                                    }

                                }

                            }

                        </select>
                    </div>
                    <div class="form-field col-lg-6">
                        <a asp-action="AddNewPlot">Add a new location</a>
                    </div>
                    <div class="form-field col-lg-6">
                        <label>Month</label>
                        <select id="month" name="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-field col-lg-6">
                        <label>Day</label>
                        <select id="day" name="day">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <div class="form-field col-lg-6">
                        <label>Year</label>
                        <input name="year" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for BurialNum -->
                        <label asp-for="BurialNum">Burial Number</label>
                        <input asp-for="BurialNum" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for BurialSubNum -->
                        <label asp-for="BurialSubnum">Burial Subnumber</label>
                        <input asp-for="BurialSubnum" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for SouthToHead -->
                        <label name="SouthToHead">South to Head</label>
                        <input name="SouthToHead" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for SouthToFeet -->
                        <label name="SouthToFeet">South To Feet</label>
                        <input name="SouthToFeet" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for WestToHead -->
                        <label name="WestToHead">West to Head</label>
                        <input name="WestToHead" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for WestToFeet -->
                        <label name="WestToFeet">West to Feet</label>
                        <input name="WestToFeet" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for Length -->
                        <label name="Length">Length</label>
                        <input name="Length" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for Depth -->
                        <label name="Depth">Depth</label>
                        <input name="Depth" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for BurialSubNum -->
                        <label asp-for="Notes">Notes</label>
                        <input asp-for="Notes" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for RackNum -->
                        <label asp-for="RackNum">Rack Number</label>
                        <input asp-for="RackNum" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for BagNum -->
                        <label asp-for="BagNum">Bag Number</label>
                        <input asp-for="BagNum" />
                    </div>
                    <div class="form-field col-lg-6">
                        <!--Create Input for BurialSubNum -->
                        <label asp-for="PreviouslySampled">Was this burial previously sampled?</label>
                        <input asp-for="PreviouslySampled" />
                    </div>

                    @*<a asp-action="AddBurialAdvanced">Add more detailed information</a>
                    <a asp-action="AddCranial">Add cranial information</a>*@
                    <div class="form-field col-lg-6">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
