
@model IEnumerable<byudigs.Models.ViewModels.ViewModel>

<html>
@foreach (var x in Model)
    {
        <div class="card card-outline-primary m-1 p-1">
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                <h4>
                    @x.burial.BurialNum @x.plot.BurialLocationNs @x.plot.LowPairNs/@x.plot.HighPairNs @x.plot.BurialLocationEw @x.plot.LowPairEw/@x.plot.HighPairEw @x.sublocation.Direction #@x.burial.BurialNum @x.burial.BurialSubnum
                </h4>
            </a>
            <!--Made a collapsable pill so that all the information is not instantly clicked on but it can be seen if you click on one to open-->
            <div class="row">
                <div class="col">
                    <!--MAke this collapsable so that you have to have the inforamtion appear by clicking on the time title-->
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            South to Head: @x.burialadvanced.SouthToHead <br />
                            South to Feet: @x.burialadvanced.SouthToFeet <br />
                            West To Head: @x.burialadvanced.EastToHead <br />
                            West to Feet: @x.burialadvanced.EastToFeet <br />
                            Length: @x.burialadvanced.LengthOfRemains <br />
                            Depth: @x.burialadvanced.BurialDepth <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
}




</html>
