
@model IEnumerable<byudigs.Models.ViewModels.ViewModel>

   <br /><br /><br /><br /><br /><br /><br />

 <input name="searchString" />

@foreach (var x in Model)
    {
        <div class="card card-outline-primary m-1 p-1">
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                <h4>
                   @x.burialadvanced.HairColor @x.burial.BurialNum @x.plot.BurialLocationNs @x.plot.LowPairNs/@x.plot.HighPairNs @x.plot.BurialLocationEw @x.plot.LowPairEw/@x.plot.HighPairEw @x.sublocation.Direction #@x.burial.BurialNum @x.burial.BurialSubnum
                </h4>
            </a>
            <!--Made a collapsable pill so that all the information is not instantly clicked on but it can be seen if you click on one to open-->
            <div class="row">
                <div class="col">
                    <!--MAke this collapsable so that you have to have the inforamtion appear by clicking on the time title-->
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            @if (x.burialadvanced.SouthToHead != null)
                            {
                                <div>South to Head: @x.burialadvanced.SouthToHead<br /></div>
                            }
                            @if (x.burialadvanced.SouthToFeet != null)
                            {
                                <div>South to Feet: @x.burialadvanced.SouthToFeet <br /></div>
                            }
                            @if (x.burialadvanced.EastToHead != null)
                            {
                                <div>West To Head: @x.burialadvanced.EastToHead <br /></div>
                            }
                            @if (x.burialadvanced.EastToFeet != null)
                            {
                                <div>West to Feet: @x.burialadvanced.EastToFeet <br /></div>
                            }
                            @if (x.burialadvanced.LengthOfRemains != null)
                            {
                                <div>Length: @x.burialadvanced.LengthOfRemains <br /></div>

                            }
                            @if (x.burialadvanced.BurialDepth != null)
                            {
                                <div>Depth: @x.burialadvanced.BurialDepth <br /></div>
                            }

                        </div>
            </div>
        </div>
    </div>
            </div>
}

